<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/include') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card_Reomandation : Search</title>
    <link rel="icon" href="/image/card.png">
    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <main>
        <div class="cards" id="cards-container">
            <% cards.forEach(card => { %>
                <div class="stack">
                    <div class="card shadow" data-id="<%= card.card_id %>">
                        <div class="card-content">
                            <img src="<%= card.card_image %>" alt="<%= card.card_name %>" class="card-image">
                        </div>
                    </div>
                    <div class="card bottom" data-id="<%= card.card_id %>">
                        <div class="card-content">
                            <img src="<%= card.card_image %>" alt="<%= card.card_name %>" class="card-image">
                        </div>
                    </div>
                    <div class="card mid-bottom" data-id="<%= card.card_id %>">
                        <div class="card-content">
                            <img src="<%= card.card_image %>" alt="<%= card.card_name %>" class="card-image">
                        </div>
                    </div>
                    <div class="card mid-top" data-id="<%= card.card_id %>">
                        <div class="card-content">
                            <img src="<%= card.card_image %>" alt="<%= card.card_name %>" class="card-image">
                        </div>
                    </div>
                    <div class="card top" data-id="<%= card.card_id %>">
                        <div class="card-content">
                            <img src="<%= card.card_image %>" alt="<%= card.card_name %>" class="card-image">
                            <h3><%= card.card_name %></h3>
                        </div>
                    </div>
                </div>
            <% }); %>
            </div>
        </div>
    </main>
    <script src="/js/search.js"></script>
</body>
</html>
